.Input {
    padding: 5px;
    outline: none;
    border: 1px solid rgb(0, 73, 128);
    background:rgb(198, 216, 229);
    color: rgb(0, 73, 128);
}
.Input::placeholder {
    color: rgb(103, 147, 170);
}